body {
  font-family: "Raleway", sans-serif;
  background: url("../../assets/images/desk-background.jpg") no-repeat;
}

.top-header {
  margin-top: 223px;
  margin-bottom: 223px;
}
.top-header .small_text, .top-header h1 {
  text-transform: uppercase;
}
.top-header .small_text {
  font-size: 13px;
  font-weight: bold;
  margin-left: 113px;
}
.top-header h1 {
  font-weight: bold;
  font-size: 42px;
  margin-top: -10px;
  margin-bottom: 0px;
}
.top-header .background-text {
  font-size: 12px;
  border: 1px solid black;
  color: white;
  padding: 5px;
  background-color: black;
}
.top-header .ending-text {
  margin-top: 50px;
}
.top-header .ending-text span {
  font-weight: bold;
  font-size: 14pt;
  padding: 0 10px;
}
.top-header .ending-text .text-highlight {
  color: #00a99d;
}

.main-header {
  background-color: white;
  padding-bottom: 113px;
}
.main-header ul li {
  padding: 10px;
  margin-top: 15px;
}
.main-header ul li a {
  color: black;
  text-transform: uppercase;
  font-size: 11pt;
  font-weight: bold;
}
.main-header ul li :hover a {
  border: 1px solid transparent;
  background: #00a99d;
  color: white;
}
.main-header ul li span {
  font-size: 14px;
  line-height: 2.5;
}
.main-header h5 {
  text-align: center;
  margin-top: 75px;
  font-weight: bold;
  font-size: 26pt;
}
.main-header h5 img {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}
.main-header p {
  text-align: center;
  color: grey;
  font-size: 16pt;
}
.main-header .col-lg-4 {
  text-align: center;
  margin-top: 50px;
}
.main-header .col-lg-4 a {
  text-decoration: none;
}
.main-header .col-lg-4 .round-icon {
  border: solid 1px transparent;
  font-size: 30px;
  border-radius: 50px;
  padding: 20px;
  background: black;
  color: white;
}
.main-header .col-lg-4 :hover .round-icon {
  background-color: #00a99d;
}
.main-header .col-lg-4 :hover button {
  background-color: #00a99d;
  border: transparent;
  color: white;
}
.main-header .col-lg-4 .image-topic {
  margin-top: 43px;
}
.main-header .col-lg-4 .image-topic span {
  font-size: 14pt;
  text-transform: uppercase;
  font-weight: bold;
}
.main-header .col-lg-4 .image-topic p {
  font-size: 14pt;
}
.main-header .col-lg-4 .image-topic button {
  font-size: 10pt;
  color: grey;
}

.color-text {
  color: #00a99d;
}

.feature-section {
  background-color: #383838;
}
.feature-section .rotated-icon {
  background-color: #00a99d;
  padding: 15px;
  transform: rotate(45deg);
  margin-left: 529px;
  margin-top: -25px;
}
.feature-section h5 {
  text-transform: uppercase;
  font-size: 26pt;
  text-align: center;
  font-weight: bold;
  color: white;
  padding-top: 30px;
}
.feature-section p {
  color: #606060;
  text-align: center;
  font-size: 16pt;
}
.feature-section .col-lg-5 {
  margin-top: 40px;
}
.feature-section .col-lg-5 .feature-details {
  margin-top: 60px;
  list-style: none;
}
.feature-section .col-lg-5 .feature-details .listed-icon {
  font-size: 30px;
  color: #00a99d;
}
.feature-section .col-lg-5 .feature-details h6 {
  font-size: 14pt;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 75px;
  margin-top: -50px;
}
.feature-section .col-lg-5 .feature-details p {
  font-size: 14pt;
  text-align: left;
  margin-left: 75px;
}
.feature-section .col-lg-7 img {
  width: 580px;
  height: 450px;
  margin-left: 70px;
}

.detailed-feature {
  background-color: white;
}

.powerful-skills {
  background-color: black;
  /*.center {
    left: 50%;
    -webkit-transform: translate( -50% );
    -ms-transform: translate( -50% );
    transform: translate( -50% );
  }*/
  /*===== The CSS =====*/
}
.powerful-skills .rotated-icon {
  background-color: #00a99d;
  padding: 15px;
  transform: rotate(45deg);
  margin-left: 529px;
  margin-top: -25px;
}
.powerful-skills h5 {
  text-transform: uppercase;
  font-size: 26pt;
  text-align: center;
  font-weight: bold;
  color: white;
  padding-top: 30px;
}
.powerful-skills p {
  color: #606060;
  text-align: center;
  font-size: 16pt;
}
.powerful-skills #wrapper {
  position: relative;
  display: flex;
}
.powerful-skills .progress {
  width: 200px;
  height: 280px;
  background-color: black;
}
.powerful-skills .progress .track, .powerful-skills .progress .fill {
  fill: rgba(0, 0, 0, 0);
  stroke-width: 2;
  transform: rotate(90deg) translate(0px, -80px);
}
.powerful-skills .progress .track {
  stroke: white;
}
.powerful-skills .progress .fill {
  stroke: white;
  stroke-dasharray: 219.9907836914;
  stroke-dashoffset: -219.9907836914;
  transition: stroke-dashoffset 1s;
}
.powerful-skills .progress .value, .powerful-skills .progress .text {
  fill: white;
  text-anchor: middle;
}
.powerful-skills .progress .text {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}
.powerful-skills .progress.blue .fill {
  stroke: #00a99d;
}
.powerful-skills .noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

/*# sourceMappingURL=style.css.map */
