body{
  font-family: 'Raleway', sans-serif;
  background: url("../../assets/images/desk-background.jpg") no-repeat ;

}
.top-header{
  margin-top: 223px;
  margin-bottom: 223px;
  .small_text,h1{
    text-transform: uppercase;
  }
  .small_text{
    font-size: 13px;
    font-weight: bold;
    margin-left: 113px;
  }
  h1{
    font-weight: bold;
    font-size: 42px;
    margin-top: -10px;
    margin-bottom: 0px;
  }
  .background-text{
    font-size: 12px;
    border: 1px solid black;
    color: white;
    padding: 5px;
    background-color: black;
  }
  .ending-text{
    margin-top: 50px;
    span{
      font-weight: bold;
      font-size: 14pt;
      padding: 0 10px;
    }
    .text-highlight{
      color: #00a99d;
    }
  }
}
.main-header{
  background-color: white;
  padding-bottom: 113px;
  ul li {
    padding: 10px;
    margin-top: 15px;
    a{
      color: black;
      text-transform: uppercase;
      font-size: 11pt;
      font-weight: bold;
    }
    :hover a{
      border: 1px solid transparent;
      background: #00a99d;
      color: white;
    }
    span{
      font-size: 14px;
      line-height: 2.5;
    }
  }
  h5{
    text-align: center;
    margin-top: 75px;
    font-weight: bold;
    font-size: 26pt;
    img{
      margin-left: 5px;
      margin-right: 5px;
      margin-bottom: 5px;
    }
  }
  p{
    text-align: center;
    color:grey;
    font-size: 16pt;
  }
  .col-lg-4 {
    text-align: center;
    margin-top: 50px;
    a{
      text-decoration: none;
    }
    .round-icon {
      border: solid 1px transparent;
      font-size: 30px;
      border-radius: 50px;
      padding: 20px;
      background: black;
      color: white;
    }
    :hover{
      .round-icon{
        background-color: #00a99d;
      }
      button{
        background-color: #00a99d;
        border: transparent;
        color: white;
      }
    }
    .image-topic{
      margin-top: 43px;
      span{
        font-size: 14pt;
        text-transform: uppercase;
        font-weight: bold;
      }
      p{
        font-size: 14pt;
      }
      button{
        font-size: 10pt;
        color: grey;
      }
    }
  }
}
.color-text{
  color: #00a99d;
}
.feature-section{
  background-color: #383838;
  .col-lg-5{
    margin-top: 40px ;
    .feature-details{
      margin-top: 60px;
      list-style: none;
      .listed-icon{
        font-size: 30px;
        color: #00a99d;
      }
      h6{
        font-size: 14pt;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        margin-left: 75px;
        margin-top: -50px;
      }
      p{
        font-size: 14pt;
        text-align: left;
        margin-left: 75px;
      }
    }
  }
  .col-lg-7{
    img{
      width: 580px;
      height: 450px;
      margin-left: 70px;
    }
  }
}
.feature-section, .powerful-skills{
  .rotated-icon{
    background-color: #00a99d;
    padding: 15px;
    transform: rotate(45deg);
    margin-left: 529px;
    margin-top: -25px;
  }
  h5{
    text-transform: uppercase;
    font-size: 26pt;
    text-align: center;
    font-weight: bold;
    color: white;
    padding-top: 30px;
  }
  p{
    color: #606060;
    text-align: center;
    font-size: 16pt;
  }
}
.detailed-feature{
  background-color: white;
}
.powerful-skills{
  background-color: black;
  #wrapper{
    position: relative;
    display: flex;
  }
  /*.center {
    left: 50%;
    -webkit-transform: translate( -50% );
    -ms-transform: translate( -50% );
    transform: translate( -50% );
  }*/

  /*===== The CSS =====*/
  .progress{
    width: 200px;
    height: 280px;
    background-color: black;
    .track, .fill{
      fill: rgba(0, 0, 0, 0);
      stroke-width: 2;
      transform: rotate(90deg)translate(0px, -80px);
    }
    .track{
      stroke: white;
    }
    .fill {
      stroke: rgb(255, 255, 255);
      stroke-dasharray: 219.99078369140625;
      stroke-dashoffset: -219.99078369140625;
      transition: stroke-dashoffset 1s;
    }
    .value, .text{
      fill: rgb(255, 255, 255);
      text-anchor: middle;
    }
    .text {
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
  .progress.blue .fill {
    stroke: #00a99d;
  }
  .noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
  }
}
